# Zabbix shared configuration
ZABBIX_USER="zabbix"
ZABBIX_SERVER_HOME="/etc/zabbix"
ZABBIX_SERVICE_SERVER="zabbix-server"
ZABBIX_SERVICE_PROXY="zabbix-proxy"
ZABBIX_SERVICE_AGENT="zabbix-agent"
ZABBIX_PORT="10051"
ZABBIX_WEB_PORT="80"
ZABBIX_DOWNLOAD_URL="https://repo.zabbix.com/zabbix/7.0/release/"
