# Zabbix Staging
ZABBIX_VERSION="7.0.2"
ZABBIX_SERVER="zabbix-stg-server.company.com"
ZABBIX_DB_HOST="zabbix-stg-db.company.com"
ZABBIX_DB_NAME="zabbix_stg"
ZABBIX_DB_PORT="5432"
ZABBIX_PROXIES=("zabbix-stg-proxy01.company.com")
ZABBIX_WEB_NODE="zabbix-stg-web.company.com"
