# MinIO Production
MINIO_VERSION="RELEASE.2024-10-02T19-45-50Z"
MINIO_NODES=("minio01.company.com:9000" "minio02.company.com:9000" "minio03.company.com:9000" "minio04.company.com:9000")
MINIO_DISTRIBUTED="true"
MINIO_ERASURE_PARITY=2
MINIO_BACKUP_TARGET="s3://backup-bucket/"
NGINX_PLUS_API="https://nginx-plus.company.com/api"
NGINX_UPSTREAM_NAME="minio_backend"
