# MinIO shared configuration
MINIO_USER="minio"
MINIO_HOME="/opt/minio"
MINIO_DATA="/data/minio"
MINIO_SERVICE="minio"
MINIO_API_PORT="9000"   # S3 API
MINIO_CONSOLE_PORT="9001"  # Web UI
MINIO_DOWNLOAD_URL="https://dl.min.io/server/minio/release/linux-amd64/minio"
MINIO_CLIENT_URL="https://dl.min.io/client/mc/release/linux-amd64/mc"
