# MinIO Staging
MINIO_VERSION="RELEASE.2024-10-02T19-45-50Z"
MINIO_NODES=("minio-stg01.company.com:9000")
MINIO_DISTRIBUTED="false"
MINIO_ERASURE_PARITY=0
NGINX_PLUS_API="https://nginx-plus-stg.company.com/api"
