# Jira shared configuration (all environments)
JIRA_USER="jira"
JIRA_INSTALL_DIR="/opt/atlassian/jira"
JIRA_HOME="/var/atlassian/application-data/jira"
JIRA_SERVICE="jira"
JIRA_DIST_URL="https://product-downloads.atlassian.com/software/jira/downloads/atlassian-jira-software-{version}.tar.gz"
NGINX_UPSTREAM_NAME="jira_backend"
