# GitLab Runner Production
GITLAB_URL="https://gitlab.company.com"
RUNNER_REGISTRATION_TOKEN=""
RUNNER_LINUX_NODES=("runner-linux01.company.com" "runner-linux02.company.com")
RUNNER_WIN_NODES=("runner-win01.company.com")
RUNNER_CONCURRENCY=4
RUNNER_EXECUTOR="docker"
RUNNER_DOCKER_IMAGE="alpine:latest"
