# GitLab Runner Staging
GITLAB_URL="https://gitlab-stg.company.com"
RUNNER_LINUX_NODES=("runner-linux-stg01.company.com")
RUNNER_WIN_NODES=()
RUNNER_CONCURRENCY=2
RUNNER_EXECUTOR="docker"
RUNNER_DOCKER_IMAGE="alpine:latest"
