# Redmine Production
REDMINE_VERSION="5.1.4"
REDMINE_NODES=("redmine-app01.company.com")
REDMINE_DB_HOST="redmine-db01.company.com"
REDMINE_DB_NAME="redmine"
REDMINE_DB_PORT="5432"
REDMINE_TYPE="postgres"
NFS_MOUNT="/var/lib/redmine/files"
NFS_SERVER="nfs.company.com:/exports/redmine"
NGINX_PLUS_API="https://nginx-plus.company.com/api"
NGINX_UPSTREAM_NAME="redmine_backend"
