# Redmine shared configuration
REDMINE_USER="redmine"
REDMINE_HOME="/opt/redmine"
REDMINE_DATA="/var/lib/redmine"
REDMINE_SERVICE="redmine"
REDMINE_PORT="3000"
REDMINE_DOWNLOAD_URL="https://www.redmine.org/releases/redmine-{version}.tar.gz"
