# Redmine Staging
REDMINE_VERSION="5.1.4"
REDMINE_NODES=("redmine-stg01.company.com")
REDMINE_DB_HOST="redmine-stg-db01.company.com"
REDMINE_DB_NAME="redmine_stg"
REDMINE_DB_PORT="5432"
NFS_MOUNT="/var/lib/redmine/files"
NFS_SERVER="nfs-stg.company.com:/exports/redmine-stg"
