# Keycloak Production
KC_VERSION="25.0.4"
KC_NODES=("keycloak01.company.com" "keycloak02.company.com")
KC_DB_HOST="keycloak-db.company.com"
KC_DB_NAME="keycloak"
KC_DB_PORT="5432"
KC_DB_VENDOR="postgres"
KC_REALM_EXPORT_DIR="/backup/keycloak/realms"
NGINX_PLUS_API="https://nginx-plus.company.com/api"
NGINX_UPSTREAM_NAME="keycloak_backend"
