# Keycloak shared configuration
KC_USER="keycloak"
KC_HOME="/opt/keycloak"
KC_SERVICE="keycloak"
KC_PORT="8443"
KC_ADMIN_PORT="9000"
KC_DOWNLOAD_URL="https://github.com/keycloak/keycloak/releases/download/{version}/keycloak-{version}.tar.gz"
