# Keycloak Staging
KC_VERSION="25.0.4"
KC_NODES=("keycloak-stg01.company.com")
KC_DB_HOST="keycloak-stg-db.company.com"
KC_DB_NAME="keycloak_stg"
KC_DB_PORT="5432"
KC_DB_VENDOR="postgres"
KC_REALM_EXPORT_DIR="/backup/keycloak/realms"
NGINX_PLUS_API="https://nginx-plus-stg.company.com/api"
