# SonarQube Production
SONAR_VERSION="10.6.0.92116"
SONAR_NODE="sonarqube.company.com"
SONAR_DB_HOST="sonarqube-db.company.com"
SONAR_DB_NAME="sonarqube"
SONAR_DB_PORT="5432"
NGINX_PLUS_API="https://nginx-plus.company.com/api"
NGINX_UPSTREAM_NAME="sonarqube_backend"
