# AWX Staging
AWX_VERSION="24.6.0"
AWX_NODE="awx-stg.company.com"
AWX_DB_HOST="awx-stg-db.company.com"
AWX_DB_NAME="awx_stg"
AWX_DB_PORT="5432"
AWX_DEPLOY_METHOD="docker"
NGINX_PLUS_API="https://nginx-plus-stg.company.com/api"
