# Prometheus + Grafana Staging
PROM_VERSION="2.54.0"
GRAFANA_VERSION="11.2.0"
PROM_NODE="prometheus-stg.company.com"
GRAFANA_NODE="grafana-stg.company.com"
ALERT_NODE="alertmanager-stg.company.com"
GRAFANA_DB_TYPE="sqlite3"
NGINX_PLUS_API="https://nginx-plus-stg.company.com/api"
