# GitLab shared configuration (multi-node)
GITLAB_USER="git"
GITLAB_HOME="/var/opt/gitlab"
GITLAB_BACKUP_DIR="/var/opt/gitlab/backups"
GITLAB_OMNIBUS_CONFIG="/etc/gitlab/gitlab.rb"
GITLAB_SERVICE="gitlab-runsvdir"
GITLAB_BASE_URL="https://packages.gitlab.com/gitlab/gitlab-ee/packages/ubuntu/focal/gitlab-ee_{version}_amd64.deb"
GITLAB_DB_NAME="gitlabhq_production"
