# Jenkins Production
JENKINS_VERSION="2.462"
JENKINS_CONTROLLER="jenkins-master.company.com"
JENKINS_AGENTS=("jenkins-agent01.company.com" "jenkins-agent02.company.com" "jenkins-agent-win01.company.com")
NGINX_PLUS_API="https://nginx-plus.company.com/api"
NGINX_UPSTREAM_NAME="jenkins_backend"
