# Jenkins Staging
JENKINS_VERSION="2.462"
JENKINS_CONTROLLER="jenkins-stg-master.company.com"
JENKINS_AGENTS=("jenkins-stg-agent01.company.com")
NGINX_PLUS_API="https://nginx-plus-stg.company.com/api"
