# Confluence shared configuration
CONF_USER="confluence"
CONF_INSTALL_DIR="/opt/atlassian/confluence"
CONF_HOME="/var/atlassian/application-data/confluence"
CONF_SERVICE="confluence"
CONF_DIST_URL="https://product-downloads.atlassian.com/software/confluence/downloads/atlassian-confluence-{version}.tar.gz"
NGINX_UPSTREAM_NAME="confluence_backend"
