# Confluence Staging
CONF_VERSION="9.5.0"
CONF_NODES=("confluence-stg01.company.com")
DB_HOSTS=("confluence-stg-db01.company.com")
DB_NAME="confluencedb_stg"
DB_PORT="5432"
DB_TYPE="postgres"
NFS_MOUNT="/var/atlassian/application-data/confluence"
NFS_SERVER="nfs-stg.company.com:/exports/confluence-stg"
NGINX_PLUS_API="https://nginx-plus-stg.company.com/api"
