# Harbor Production
HARBOR_VERSION="2.11.1"
HARBOR_NODE="harbor.company.com"
HARBOR_DB_TYPE="postgres"
HARBOR_DB_HOST="harbor-db.company.com"
HARBOR_DB_NAME="harbordb"
HARBOR_DB_PORT="5432"
NGINX_PLUS_API="https://nginx-plus.company.com/api"
NGINX_UPSTREAM_NAME="harbor_backend"
