# Harbor Staging
HARBOR_VERSION="2.11.1"
HARBOR_NODE="harbor-stg.company.com"
HARBOR_DB_HOST="harbor-stg-db.company.com"
HARBOR_DB_NAME="harbordb_stg"
NGINX_PLUS_API="https://nginx-plus-stg.company.com/api"
