# ELK Stack shared configuration
ES_USER="elasticsearch"
ES_HOME="/usr/share/elasticsearch"
ES_SERVICE="elasticsearch"
ES_PORT="9200"
LS_USER="logstash"
LS_HOME="/usr/share/logstash"
LS_SERVICE="logstash"
LS_PORT="5044"
KB_USER="kibana"
KB_HOME="/usr/share/kibana"
KB_SERVICE="kibana"
KB_PORT="5601"
ES_SNAPSHOT_DIR="/backup/elasticsearch/snapshots"
