# ELK Stack Staging
ELK_VERSION="8.15.0"
ES_NODES=("es-stg01.company.com")
ES_CLUSTER_NAME="stg-elk"
LS_NODE="logstash-stg.company.com"
KB_NODE="kibana-stg.company.com"
NGINX_PLUS_API="https://nginx-plus-stg.company.com/api"
